.anchor,
.anchor:visited {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  position: absolute;
  left: -1.5rem;
  width: 1.5rem;
  display: block;
  top: 0.65em;
  line-height: 1.5em;
  opacity: 0;
}

.anchor:hover,
.anchor:visited:hover,
.disclaimer a:hover {
  color: #fb3347;
}

h2:hover .anchor {
  opacity: 1;
}

@media (max-width: 800px) {
  .anchor,
  .anchor:visited {
    opacity: 1;
    line-height: inherit;
    position: static;
    display: inline-block;
    vertical-align: baseline;
  }
}
