.grid {
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 45%;
  max-width: 600px;
  min-width: 300px;
  padding: 0 20px 0 30px;
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.text img {
  max-width: 100%;
}

.code {
  width: 55%;
  padding-bottom: 1rem;
  position: relative;
}

.code-filename {
  color: rgba(0, 0, 0, 0.4);
}

.grid:first-child .text {
  padding-top: 30px;
}
.grid:last-child .text {
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  .text,
  .code {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .text,
  .code {
    width: 100%;
    max-width: 100%;
    border-right: 0;
  }

  .code {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0;
    border-right: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .text {
    padding: 0 15px;
  }

  .grid + .grid .text {
    padding-top: 1rem;
  }
}
